/* 1. Importa il font scaricato da DaFont */
@font-face {
    font-family: 'Apple Garamond';
    src: url('./apple-garamond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 2. Base del sito */
body {
    font-family: 'Apple Garamond', serif;
    color: #333333;
    font-size: 1.2rem; /* Leggermente più grande per questo font elegante */
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px; /* Contiene il testo al centro */
    padding: 2rem;
}

h1 {
    text-align: center;
    font-size: 2.6rem;
    color: #111111;
    font-weight: normal; /* 300 = Light/Thin, 100 = Extra Thin */
    margin-bottom: 2rem;
}


/* 4. Stile degli hyperlink */
a {
    text-decoration: underline;
    color: #333333; 
    transition: color 0.2s ease;
}

/* 5. Effetto Hover: Rosso Ubuntu */
a:hover {
    color: #E95420; 
}

html {
    font-size: 18px; /* Aumenta questo numero (di default è 16). Così TUTTO il sito scala e diventa più grande! */
}

/* Stile per le immagini con cornice fantasy */
img {
    max-width: 100%;
    height: auto;


    /* 3. L'ombra per dare tridimensionalità */
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.6);

    /* 4. Arrotonda leggermente gli angoli per togliere l'effetto "digitale" */
    border-radius: 3px;

    /* 5. Un po' di margine per non far appiccicare il testo alla cornice */
    margin: 1.5rem 0;
}

img.normale {
    box-shadow: none;
    border-radius: 0;
    border: none;
}

        /* Nasconde la scrollbar mantenendo lo scroll attivo */
        html, body {
            -ms-overflow-style: none;  /* IE e Edge */
            scrollbar-width: none;  /* Firefox */
        }
        html::-webkit-scrollbar, body::-webkit-scrollbar {
            display: none; /* Chrome, Safari e Opera */
        }
